ul {
	position: absolute;
	top: 5px;
	left: 20px;
	margin: 8px auto;
	padding: 0;
	z-index: 9;

	width: 200px;
	height: 220px;
	list-style: none;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}

li {
	margin: 2px 0;
	padding: 0;
}

li a {
	display: block;
	height: 18px;
	width: 20px;
	background: rgba(143, 153, 155, 0.5);
	color: #f7ffe9;
	padding: 8px 6px;
	text-decoration: none;
	text-align: center;
}

li span {
	width: 154px;
	float: left;
	text-align: center;
	background: rgba(155, 155, 155, 0.5);
	color: #fff;
	margin: -34px 34px;
	padding: 8px 6px;
	transform-origin: 0%;
	opacity: 0;
	-webkit-transform: rotateY(95deg);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	-webkit-animation: flip 2s;
	-moz-animation: flip 2s;
	-o-animation: flip 2s;
	animation: flip 2s;
}
